body {
color: rgb(10, 76, 76);
background-color: rgb(61, 205, 183);

}
.for {
    color: rgb(10, 76, 76);
    background-color: rgb(61, 205, 183);
}
.type {
    color: rgb(10, 76, 76);
    background-color: rgb(61, 205, 183);
}
.id {
    color: rgb(10, 76, 76);
    background-color: rgb(61, 205, 183);
}
.name {
    color: rgb(10, 76, 76);
    background-color: rgb(61, 205, 183);
}